@import "tailwindcss";

@theme {
  --color-blue3-primary: #000D38;
  --color-blue3-secondary: #0092FF;
  --color-blue3-accent: #4d65ff;
  --color-blue3-light: #ffffff;
}

body {
  background-color: var(--color-blue3-primary);
  color: var(--color-blue3-light);
  font-family: var(--font-geist-sans), sans-serif;
}
